@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, yellow, rgb(255, 115, 0));
    }

    section#login{
        width: 90vw;
    }

    div#imag{
        float: left;
        width: 35%;
        height: 100%;
        background-position: center right;
    }

    div#form{
        float: right;
        width: 60%;
    }

    div#form h1{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 0);
    width: min-content;
    border-radius: 25px;
    font-size: 2.5em;
    }

    div#form p{
        padding: 5px 0px 0px 20px;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, yellow, rgb(255, 115, 0));
    }

    section#login{
        width: 950px;
    }

    div#imag{
        float: left;
        width: 50%;
        height: 100vh;
        background-position: center right;
    }

    div#form{
        float: right;
        width: 47%;
        height: 100vh;
    }

    div#form h1{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 0);
    width: min-content;
    border-radius: 25px;
    font-size: 2.5em;
    }

    div#form p{
        padding: 5px 0px 0px 20px;
        font-size: 1.5em;
    }

    
}